#page-home {
    height: 100vh;
    background: url('../assets/home-background.svg') no-repeat;
    background-position: 39vw bottom;
}


#page-home .content {
    width: 90%;
    max-width: 1100px;
    height: 100%;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

#page-home header {
    
    margin-top: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;

}


#page-home header a {
    display: flex;
    align-items: center;
    align-items: column; 

    color: var(--title-color);
    font-weight: bold;
    font-size: 18px;

    color:  #322153

}



#page-home header a span {
    margin-right: 15px;
    display: flex;

    background-image: url(../assets/log-in.svg);

    width: 20px;
    height: 20px;
}

#page-home main {
    max-width: 560px;

    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-home main h1 {
    font-size: 54px;
}

#page-home main p {
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
}
#page-home main button {
    margin-right: 56px
    
}

#page-home main a {
    width: 100%;
    max-width: 360px;
    height: 72px;
    border-radius: 8px;
    margin-top: 40px;

    display: flex;
    align-items: center;
    
    background-color: #34cb79;

    transition: 400ms;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.705);
    border-image: 10px;
    border-radius: 50px;
}

#page-home main a:hover {
    background-color: #2fb86e
}

#page-home main a span {
    width: 72px;
    height: 72px;

    border-top-left-radius: 8px;

    background-color: rgba(0, 0, 0, 0.08);

    display: flex;
    align-items: center;
    justify-content: center;
}

#page-home main a span::after {
    content: "";
    background-image: url("..//assets/search.svg");

    width: 20px;
    height: 20px;
}

#page-home main a strong {
    flex: 1;
    color: white;
    text-align: center;
}