@media (max-width: 900px) {
    #page-home {
        background-position-x: 70vw;
    }
    
    #page-home .content {
        align-items: center;
        text-align: center;
    }
    
    #page-home header a {
        position: absolute;
        bottom: 48px;

        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }
}

@media (max-width: 1440px) {
    #page-home {
        background-position-x: 40vw;
        background-position-y: 200px;
    }
    
}

